<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="https://cdn.pixabay.com/photo/2016/11/27/13/17/tomato-1862857__480.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Il Mio Ristorante
      </a>
      <a class="links" routerLink="/">Home</a>
      <a class="links" routerLink="/about">About</a>
      <a class="links" routerLink="/menu">Menu</a>
      <a class="links" routerLink="/cart">Cart 🛒</a>
    </div>
  </nav>