<div *ngIf="item">
    <div id="detail">
        <h5 class="card-title title2 m-auto">{{item.name}}</h5>
        <div class="card mb-3 ">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="w-100" id="resto" src="{{item.image}}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
            
            <p class="card-text paragraph">
                {{item.description}}
            </p>
            <p class="card-text paragraph">Allergen:
              {{item.allergen}}
          </p>
            <p class="card-text paragraph">PRICE : 
                {{item.price | currency:"EUR"}}
            </p>
            <button (click)="addToCart()">Add to Cart</button>            
            </div>
          </div>
        </div>
      </div></div>
    
</div>
    