<div class="container row m-auto mt-4">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let item of myItems">
        <div class="card" style="width: 18rem;">
            <img src="{{item.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.name}} </h5>
              <p class="card-text">{{item.description}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              <p>{{item.price | currency:"EUR"}}</p>
            </div>
          </div>
    </div>
</div>