<div class="container row m-auto mt-4">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let item of myItems ; index as itemIndex">
        <div class="card" style="width: 18rem;">
            <img src="{{item.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.name}} </h5>
              <p class="card-text">{{item.description}}</p>
              <p>{{item.price | currency:"EUR"}}</p>
            </div>
            <ng-template [ngIf]="item.availability == true" [ngIfElse]="none">
              <div>
                <a routerLink="/items/{{itemIndex}}" class="btn btn-primary">Show details</a>
                <a href="#" class="btn btn-secondary">Add to cart</a></div>
            </ng-template>
            <ng-template #none>This item is not available</ng-template>
          </div>
    </div>
    
</div>  
