p,#titlehero{
    color: white;
    text-align: center;
    font-family: 'Comforter Brush', cursive;
    font-size: 75px;
    font-weight: 500;
    text-shadow: black 4px 4px 4px;
}
#titlehero{
    margin-top: 10%;


}
img{
    filter: grayscale(50%);
    height: 25%;
}
#btn{
    display:flex;
    justify-content: center;
    gap: 50px;
}
a{
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(65, 167, 65) ;
    color: white;
    width: 140px;
    height: 50px;
    text-align: center;
    padding: 5px;
    border: greenyellow solid 2px;
    border-radius: 25px;
    opacity: 75%;
}
a:hover{
    opacity: 100%;
    transform: scale(1.05)
}
.paragraph {
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#resto{
    width: 250px;
    height: 100%;
    object-fit: cover;
}
.card-title{
text-align: center;
font-weight: 500;
font-family: 'Comforter Brush', cursive;
font-size: 50px;
padding: 15px;
}