<!--hero section-->
<div id="hero">
    <div class="card bg-dark">
        <img src="https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758__480.jpg" class="card-img" alt="https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758__480.jpg">
        <div class="card-img-overlay">
          <h5 id="titlehero" class="card-title">Il Mio Ristorante</h5>
          <p class="card-text"><small>The new italian experience</small></p>
          <div id="btn">
            <a href="">our menu</a>
            <a href="">book a table</a>
        </div>
        </div> 
      </div>
</div>
<!--restaurant/place section-->
<div>
    <h5 class="card-title title2 ">Il Mio Ristorante</h5>

    <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img id="resto" src="https://cdn.pixabay.com/photo/2019/02/21/19/00/restaurant-4011989__480.jpg" class="img-fluid rounded-start" alt="https://cdn.pixabay.com/photo/2019/02/21/19/00/restaurant-4011989__480.jpg">
      </div>
      <div class="col-md-8">
        <div class="card-body">
        <h2>Our place</h2>
        <p class="card-text paragraph">
        </p>
        </div>
      </div>
    </div>
  </div></div>
<!--why us section-->
  <div class="w-100"><div class="card">
    <div class="card-body">
      <h5 class="card-title">Why choose us</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Button</a>
    </div>
  </div>
<!--speciality sections-->
  <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
      <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false" disabled>Disabled</button>
      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">...</div>
    </div>
  </div>